======================================
Gilded Rose 需求描述
======================================

欢迎来到镶金玫瑰(Gilded Rose)团队。如你所知，我们是城中的一个小旅店，店主非常友好。我们也售卖最好的商品。不过，很多商品品质会随着销售期限的接近而不断下降。
请帮助我们开发一个系统，能每日更新每种库存商品的品质和销售期。

先介绍一下商品品质和销售期的计算方法：

	- 每种商品都具备一个销售期（`SellIn`），表示我们要在多少天之内把商品卖出去；
	- 每种商品都具备一个品质值（`Quality`），表示商品所具备的品质；
	- 每天结束时，系统会将每种商品的这两个数值减1。

很简单吧？下面的计算方法更有意思：

	- 一旦销售期限过期，品质值`Quality`会每天减2；
	- 商品的品质`Quality`永远不会为负值；
	- "Aged Brie"（法国干酪）的品质`Quality`会每天增1；
	- 商品的品质`Quality`永远不会超过50；
	- 传奇商品"Sulfuras"（游戏中的魔法锤道具）永不到期，也不会降低品质`Quality`；
	- "Backstage passes"（剧场后台通行证）与aged brie类似，其品质`Quality`在剧场开演前10天以外，每天增1；当离开演不足10天（含10天）时，品质`Quality`每天增2；当离开演不足5天（含5天）时，品质`Quality`每天增3；但一旦演出结束，品质就会降为0。

请不要修改Item类或其属性。

再次澄清，每种商品的品质不会超过50，然而"Sulfuras"是一个传奇商品，因此它的品质是80且永远不变。
